@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<article>
    <p>

        Only got a ged but it let me go to college a bit early so thats fun
    </p>

    <p>
        Going to the tech for computer enginearing pretty fun but it leads to me wasting a bunch of money to random electrical components.
    </p>

    <p>

        did IT:networking for a while which was fun but i wanted a bit lower level so now i do assembly and c++ mainly ^_^ its fun.
    </p>
</article>

<aside>
    <h3>Random Skills</h3>

    <ul>
        <li><p>Random Coding in c++ c# python ruby html and now cshtml :D</p></li>
        <li><p>electrical experience on both active and inactive components</p></li>
        <li><p>Random Computer engineering experience includeing haveing Designed a cpu</p></li>
        <li><p> lots of customer service experience due to lots of casheiring</p></li>
    </ul>
</aside>