
@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    173 loudon road<br />
    Concord, NH 03301<br />
    <abbr>P:</abbr>
    603-933-3797
</address>
<address>
    <strong>main:</strong> <a href="mailto:DevlinPaddock@gmail.com">Devlinpaddock@gmail.com</a><br />
    <strong>Misc:</strong> <a href="mailto:Devlin821@gmail.com">Devlin821@gmail.com</a>
</address>
<address>
    <strong>Availability</strong> usually afater 3pm every day. or anytime on sundays (i haave sundays off) <br />
</address>