@page
@model AboutModel
@using MySql.Data.MySqlClient;
@{
    ViewData["Title"] = "Schedule";
}
<h2 id ="header">@ViewData["Title"] </h2>
<article>
    <table style="width:100%" id="ThisIsMyTable" runat="server">
        <tr>
            <th></th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr id="6">
            <th>6:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="7">
            <th>7:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="8">
            <th>8:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="9">
            <th>9:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="10">
            <th>10:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="11">
            <th>11:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="12">
            <th>12:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="13">
            <th>1:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="14">
            <th>2:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="15">
            <th>3:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="16">
            <th>4:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="17">
            <th>5:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="18">
            <th>6:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="19">
            <th>7:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="20">
            <th>8:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="21">
            <th>9:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        <tr id="22">
            <th>10:00</th>
            <th id="Sunday">Sunday</th>
            <th id="Monday">Monday</th>
            <th id="Tuesday">Tuesday</th>
            <th id="Wednesday">Wednesday</th>
            <th id="Thursday">Thursday</th>
            <th id="Friday">Friday</th>
            <th id="Saturday">Saturday</th>
        </tr>
        
        @{ 
           

            string query = "";
            //Create a list to store the result
            DBConnect a = new DBConnect();

            int count = a.Count();

            //Create Command
            MySqlCommand cmd = new MySqlCommand(query, a.connection);
            //Create a data reader and Execute the command
            MySqlDataReader dataReader = cmd.ExecuteReader();

            //Read the data and store them in the list
            string temptime = "";
            string tempday = "";
            string tempcontext = "";
            while (dataReader.Read())
            {
                temptime = dataReader["time"] + "";
                tempday = dataReader["day"] + "";
                tempcontext = dataReader["context"] + "";
                //for (int i = 6; i <= 22; i++)
                //{
                //    if (temptime==i.ToString())
                //    {

                //    }

                //}
                if (true)
                {
                    if (true)
                    {


                    }

                }
            }
            //close Data Reader
            dataReader.Close();
            //close Connection
            a.CloseConnection();

          }
    </table>
</article>

<aside>
   
</aside>