@page
@model AboutModel
@{
    ViewData["Title"] = "Snowball";
}
<h2>@ViewData["Title"]</h2>
<article>
    <img src="~/Images/1.JPEG" width="200" height="200">
    <img src="~/Images/2.JPEG" width="200" height="200">
    <img src="~/Images/3.JPEG" width="200" height="200">
    <img src="~/Images/4.JPEG" width="200" height="200">
    <img src="~/Images/5.JPEG" width="200" height="200">
    <img src="~/Images/6.JPEG" width="200" height="200">
    <img src="~/Images/7.JPG" width="200" height="200">
    <img src="~/Images/8.JPEG" width="200" height="200">
    <img src="~/Images/9.JPG" width="200" height="200">
    <img src="~/Images/10.JPG" width="200" height="200">
    <img src="~/Images/11.JPEG" width="200" height="200">
    <img src="~/Images/12.JPEG" width="200" height="200">
    <img src="~/Images/13.JPEG" width="200" height="200">
    <img src="~/Images/14.JPEG" width="200" height="200">
    <img src="~/Images/15.JPEG" width="200" height="200">
    <img src="~/Images/16.JPG" width="200" height="200">
    <img src="~/Images/17.JPEG" width="200" height="200">
</article>

